@font-face {
  font-family: "iconfont"; 
  src: url('iconfont.woff2?t=1656256701057') format('woff2'),
       url('iconfont.woff?t=1656256701057') format('woff'),
       url('iconfont.ttf?t=1656256701057') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
  content: "\e708";
}

.icon-jiushuihongjiuhongjiubei:before {
  content: "\e652";
}

.icon-basic:before {
  content: "\e72b";
}

.icon-star:before {
  content: "\e693";
}

.icon-database:before {
  content: "\e61b";
}

.icon-tool:before {
  content: "\e769";
}

.icon-dev:before {
  content: "\e675";
}

.icon-java:before {
  content: "\e639";
}

.icon-tool1:before {
  content: "\e6ae";
}

.icon-a-zu5820:before {
  content: "\e674";
}

.icon-book:before {
  content: "\e603";
}

.icon-knowledge:before {
  content: "\e72d";
}

